.portfolio{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.portfolio h3::before{

    padding-right: 1rem;
    display: inline-block;
    content: " ";
    background-image: url("../img/icons/github-white.svg");
    background-size: contain;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.portfolio a{
    color: white;
}